@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


*{
	margin: 0px;
	padding: 0px;

}


.container{

	max-width: 1160px;
	margin: 0px auto;
    
}


.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


.raleway-front {
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.logo{
    display: flex;
    justify-content: start;
    align-items: center;
}
.logo img{
    width: 62px;

}
.logo h3{
    padding-left: 11px;
    font-weight: bold;
    font-size: 2rem;
}
.menu ul{
    display: flex;
    justify-content: space-between;
    
}
.menu ul li{
    list-style: none;
    display: flex;
    padding-right: 32px;
    
    
}
.menu ul li a{
    display: flex;
    text-decoration: none;
    justify-content: space-between;
    font-weight:500px;
    font-size: 1.25rem;
}
.clr-1{
    color: #FEA301;
}
.clr-2{
    color: #01ACFD;
}
.clr-3{
    color: #05D4DF;
}
.clr-4{
    color: #5D58EF;
}
.navbtn button{
    font-size:1.25rem;
    font-weight: 600px;
    padding: 12px 60px;
    border-radius: 12px;
    border: none;
    background-color:#FEA301 ;
    color: #FFFFFF;
} 
.mbl{
    display: none;
}

.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-text{
    padding-right:50px ;
}
.banner-text h1{
    font-size:3.5rem ;
    font-weight: bold;
}
.banner-text p{
    font-size:1.25rem;
    font-weight: 400;
    padding: 24px 0px;
}
.banner-text button{
    font-size:1.25rem;
    font-weight: bold;
    padding: 10px 47px;
    border-radius: 12px;
    border: none;
    background-color:#111111 ;
    color: #FFFFFF;
} 
.one{
    background-image: url(./assets/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.title h3{
    font-weight: bold;
    font-size: 2.875rem;
    padding-top: 60px;
    text-align: center;
}
.cards{
    margin: 80px auto;
    display: flex;
    justify-content:space-between;
    gap:28px ;
    align-items: center;
}
.card{
    padding: 60px 25px ;
    border: 2px;
    border-color: #111111;
    text-align: center;
    border-radius: 12px;
}
.card h3{
    padding-top: 30px;
    color: 202020;
    font-weight: bold;
    font-size: 1.6rem;
}
.des{
    padding: 25px 0px;
    font-weight: 500px;
    font-size: 1rem;
    color: #808080;
}
.rm{
    font-weight: bold;
    font-size: 1rem;

    
}
.rm1{
    color:#64C8FF;
}
.rm2{
    color:#F0AA00;
}
.rm3{
    color:#8700FF;
}

.c1{
    border: solid;
    border-color:#DEF5FF ;
    border-width: 1px;
    background-image: linear-gradient(#DEF5FF , #FFFFFF 40%);
}
.c2{
    border: solid;
    border-color:#FFF4DC ;
    border-width: 1px;
    background-image: linear-gradient(#FFF4DC , #FFFFFF 40%);
}
.c3{
    border: solid;
    border-color:#F2E8FF ;
    border-width: 1px;
    background-image: linear-gradient(#EEE1FF , #FFFFFF 40%);
}
.icn{
    text-align: center;
    margin-bottom: 60px;
}
.icn-btn{
    background-color: #FEA301;
    padding: 20px 22px;
    border-radius:50px ;
    font-size: 20px;
    font-weight: 800px;
    color:#FFFFFF
}
marquee{
    background-color: #fea101c0;
    padding: 30px 0px;
    font-weight: bold;
    font-size: 2rem;
    color: white;
}
.two{
    background-image: url(./assets/bg.png),linear-gradient(#ffffffd8 , #fea10161) ; 
    background-repeat: no-repeat;
    background-size: cover;
    
    
}
 .stories{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 80px auto;
 }
 .st-btn{
    text-align: center;
 }
 .st-btn button{
    font-size:1.25rem;
    font-weight: bold;
    padding: 10px 47px;
    border-radius: 12px;
    border: none;
    background-color:#111111 ;
    color: #FFFFFF;
    margin-bottom: 60px;
 }
.sm-stories{
    /* display:grid; */
    /* grid-template-columns: auto auto; */
    display:flex ;
    flex-direction: row;
    

}
.stories-sm-one{
    padding: 20px;
}
.stories-sm-two{
    padding: 20px 20px 20px 0px;
}
.sm-st-card {
    background-color: #FFFFFF;
    margin-bottom:20px ;
    border-radius:16px 16px 16px 16px ;
    background-color: #FFFFFF;
    
}
.sm-st-card img{
    border-radius: 16px 16px 0px 0px;
}
.date{
    
    margin-top: -16px;
}
.date span{
    
    padding: 10px;
    border-radius: 48px;
    font-weight: 500px;
    font-size: 1rem;
    color: #FFFFFF;
    
}
.date-clr1{
     background-color: #3CD8E8;
}
.date-clr2{
    background-color: #95B226;
}
.date-clr3{
    background-color: #5D58F0;
}

 .cntnt{
    padding-left: 40px;
    padding-right: 5px;
    background-color: #FFFFFF;
    border-radius:0px 0px 16px 16px ;
 }
 .cntnts{
    padding-left: 40px;
    
    
 }
 .cntnts h3{
    padding-top:20px ;
    padding-bottom: 20px;
    font-weight: bold;
    font-size: 1rem;
 }
 .cntnt h3{
    padding-top: 40px;
    padding-bottom: 30px;
    font-size: 1.5rem;
    font-weight: bold;
 }
 .cntnt p{
    padding-right: 10px;
    padding-bottom: 30px;
    font-size: 1rem;
    font-weight: 500px;
    color: #666666;
 }
 .big-st-card img{
    border-radius: 16px 16px 0px 0px;
 }
 footer{
    background-color: #49C3FD;
    padding-top: 20px;
 }
 .ft{
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding-top: 100px;
    padding-bottom: 150px;
 }
 .ft-lg{
    display: flex;
    justify-content: start;
    align-items: center;
 }
 .ft-lg img{
    width: 80px;
 }
 .ft p{
    font-weight: 500px;
    color: #FFFFFF;
    padding: 20px 0px;
 }
 .ft1{
    
    max-width: 400px;
 }
 .ft1 h3{
    color: #FFFFFF;
    font-weight: bold;
    font-size:2.625rem ;

 }
 .ft2 h3{
    color: #FFFFFF;
    font-weight: bold;
    font-size:1.5rem ;
    padding-bottom: 10px;

 }
 .ft2 ul li{
    list-style: none;
    padding-top: 20px;
 }
 .ft2 ul li a{
    text-decoration: none;
    font-size:1.25rem ;
    color: #FFFFFF;
    font-weight: 500px;
    
 }
 .ft3 h3{
    color: #FFFFFF;
    font-weight: bold;
    font-size:1.625rem ;
    padding-bottom: 20px;

 }

 @media screen and (max-width:576px) {
    
    nav{
        border-bottom: 1px solid #FEA301 ;
    }
    .mbl{
        display: flex;
        justify-content: space-between;
    }
    
    .logo h3 , .menu, .navbtn{
        display: none;
    }
   
    .banner{
        flex-direction: column;
        justify-content: start;
        padding: 0px 20px;
        text-align: center;
    }
    .banner-image{
        order: 1;
    }
    .banner-text{
        order: 2;
    }
    .cards{
        flex-direction: column;
        justify-content: start;
        padding: 0px 20px;

    }
    .icn{
        display: none;
    }
    .big-st-card{
        display: none;
    }
    
    .ft{
        flex-direction: column;
        justify-content: start;
        padding-left: 20px;
    }
    .ft1, .ft2, .ft3{
        padding-top: 30px ;
    }
    .ft2 h3{
        font-weight: 600 ;
    }
 }